body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 20px 0;
}

h3 {
    padding-left: 5%;
    font-size: 1.5vw; 
}

.tex {
    border-radius: 10px;
    width: 80%;
    padding: 12px 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    width: 80%;
}

.pk-table {
    width: 90%;
    margin: 20px auto;
    font-size: 12px; 
    border-collapse: collapse;
}

.pk-table th, .pk-table td {
    padding: 8px;
    border: 1px solid #0e691f;
}

.pk-table th {
    background-color: #00ce75;
    color: white;
}

.pk-table tr:nth-child(even) {
    background-color: #f6fff5;
}

.pk-table tr:hover {
    background-color: #c8ffcfb9;
}

.mydiv-button {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

#qrcode {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    .button-pk-web {
        margin: 20px auto;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 90%;
        font-size: 14px;
    }

    .pk-table {
        font-size: 10px;
    }
}
